.jp-queueWidget {
    display: inline-block;
    /*display: grid;*/


    flex-direction: column;

    /* should replace these options with DataTables
    * scrolling options
    */
    /*overflow: auto;*/
    /*overflow-x: auto;*/
}

.jp-queueTable {
    /*font-size: 12px;*/
    /*border-collapse: collapse;*/
    /*border-style: ridge;*/
    /*border-width: 3px;*/
    margin-top: 200px;
    /*margin-bottom: 25%;*/
    /*margin: auto;*/
    /*text-align: center;*/
}

.queueTableRow {
  background-color: red;
}


/*smaller size filter text box*/
/*.dataTables_filter>label>input
{
    line-height:normal !important;
}*/

/*entry length text size changed*/
/*.dataTables_length > label
{
    font-weight:normal !important;
    font-size:13px !important; 
}*/
/*filter label text size changed*/
/*.dataTables_filter > label
{
    font-weight:normal !important;
    font-size:15px !important; 
    margin-right: 20px;
}*/
/*table header size changed*/
/*.wb-tables > thead > tr > th
{
    font-weight:600 !important;
    font-size:14px !important; 
    padding:5px !important;
}*/

/*table data size changed*/
/*.wb-tables > tbody > tr > td
{
    padding:2px !important;
    font-size: 13px !important;
}*/

/*table paging size changed*/
/*.dataTables_paginate > span > a
{
    margin-bottom: 0px !important;
    padding: 2px 10px !important;
}*/
/*table paging size changed*/
/*.dataTables_paginate > a
{
    margin-bottom: 0px !important;
    padding: 2px 10px !important;
}*/

/*table paging float right*/
/*.dataTables_paginate
{
    text-align:right !important;
    margin-top: -10px !important;
}*/

/*fixed sorting arrow 'after'*/
/*table.dataTable thead .sorting-icons:after {
      content: "\e114";
      font-weight:lighter;
      font-size:x-small;
      display:list-item;
      list-style:none;  
      margin-left:-1px;
      border:0px solid white !important;
      padding:0 !important;
      line-height:0.5em !important;
      margin-top:0px !important;   
      background: none !important;
}*/
/*fixed sorting arrow 'before'*/      
/*table.dataTable thead .sorting-icons:before {
      content: "\e113";
      font-weight:lighter;
      font-size:x-small;
      display:list-item;
      list-style:none;
      margin-left:-0.4px;
      border:0px solid white !important;
      padding :0 !important;

      line-height :0.5em !important;
      margin-top :0px !important;
      background: none !important;
}*/

/*fixed sorting arrows position*/     
/*.sorting-cnt 
{
    float:right;
    margin-right: 10px;
    display:block;
}*/

/*.jp-qTableBorder {
    font-size: 12px;
    border-style: ridge;
    border-width: 3px;
}*/
/*
.jp-Attribution {
    margin: 20px auto;
}*/