*.bundle.*
.ipynb_checkpoints
.DS_STORE

# binaries
*.pyc
*.pyo
*.pyd
*.py[cod]
__pycache__/
*$py.class
*.so

# logs
pip-log.txt
pip-delete-this-directory.txt
.cache

# distribution/packaging
node_modules/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# It seems lib/ is necessary for easy install at this point, will look into ommitting this later: lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.installed.cfg
