.jp-queueWidget {
    display: inline-block;
    /*display: grid;*/

    flex-direction: column;

    /* should replace these options with DataTables
    * scrolling options
    */
    /*overflow: auto;*/
    /*overflow-x: auto;*/
}

.jp-queueTable {
    font-size: 12px;
    border-collapse: collapse;
    border-style: ridge;
    border-width: 3px;
    /*margin: auto;*/
    /*text-align: center;*/
}

/*.jp-qTableBorder {
    font-size: 12px;
    border-style: ridge;
    border-width: 3px;
}*/
/*
.jp-Attribution {
    margin: 20px auto;
}*/